td,
th {
    padding: 10px;
}

td[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
	background-color: #ebebeb;
}



git add -A && git commit -am "Uitwerking van de exercise" && git push